* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #59a6b2;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
}

ul {
  list-style: none;
}

input {
  outline: 0;
  width: 100%;
}
input :hover,
:focus {
  cursor: url("https://fav.farm/🖕") 15 0, auto;
}
.search-form {
  margin: 50px auto;
  max-width: 600px;
}
.search {
  top: 3px;
  z-index: 2;
  position: relative;
  left: -10%;
  width: 120%;
  padding: 20px;
  border: 10px solid #f7f7f7;
  font-size: 40px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12),
    inset 1px 1px 2px rgba(144, 67, 67, 0.1);
}
.suggestions li {
  background: white;
  list-style: none;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-transform: capitalize;
}
.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(1px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}
.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(5px);
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}
span.name {
  font-weight: 350;
}
span.population {
  font-size: 15px;
  text-align: right !important;
}

.hl {
  background: #ffc600;
}
